:root {
  --bg-dark: #121417;
  --accent-orange: #ff7d00; // Senin turuncun
  --accent-green: #00ff41;  // Senin yeşilin
  --text-light: #ffffff;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-light);
}