<div class="auth-card-container">
  
  <h2 class="text-center mb-2" style="color: #ff7d00 !important; font-weight: bold;">Sahaya Katıl!</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
    <div class="text-center mb-10">
      <div class="fw-bold fs-4" style="color: #e4e6eb !important;">
        Hemen kayıt ol ve rezervasyon yap
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-6">
        <label class="mb-2" style="color: #ffffff !important;">Ad</label>
        <input type="text" formControlName="firstName" class="auth-input" placeholder="Adınız">
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <label class="mb-2" style="color: #ffffff !important;">Soyad</label>
        <input type="text" formControlName="lastName" class="auth-input" placeholder="Soyadınız">
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-6">
        <label class="mb-2" style="color: #ffffff !important;">Telefon</label>
        <input type="tel" formControlName="phoneNumber" class="auth-input" placeholder="0555 555 55 55">
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <label class="mb-2" style="color: #ffffff !important;">Doğum Tarihi</label>
        <input type="date" formControlName="birthDate" class="auth-input">
      </div>
    </div>

    <div class="mb-4">
      <label class="mb-2" style="color: #ffffff !important;">E-Posta</label>
      <input type="email" formControlName="email" class="auth-input" placeholder="ornek@mail.com">
    </div>

    <div class="row mb-5">
      <div class="col-md-6">
        <label class="mb-2" style="color: #ffffff !important;">Şifre</label>
        <input type="password" formControlName="password" class="auth-input" placeholder="••••••••">
        <small class="text-secondary mt-1 d-block">En az 6 karakter</small>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <label class="mb-2" style="color: #ffffff !important;">Şifre Tekrar</label>
        <input type="password" formControlName="confirmPassword" class="auth-input" placeholder="••••••••">
      </div>
    </div>

    <button type="submit" [disabled]="registerForm.invalid" class="auth-btn w-100 mb-3">
        <span class="indicator-label fs-4">Kayıt Ol</span>
    </button>

    <div class="text-center mb-10 fw-bold fs-5" style="color: #e4e6eb !important;">
    Zaten hesabın var mı? 
    <a routerLink="/auth/login" class="link-success fw-bolder fs-5 ms-2">Giriş Yap</a>
    </div>
  </form>

</div>